@tailwind base;
@tailwind components;
@tailwind utilities;



.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btn {
  background-color: #38a169;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
