@tailwind base;
@tailwind components;
@tailwind utilities;


.input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: border 0.3s;
}

.input:focus {
  border-color: #38a169;
  outline: none;
  box-shadow: 0 0 5px rgba(56, 161, 105, 0.5);
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #38a169;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  background-color: #2f855a;
}
