<div class="bg-white rounded-lg overflow-hidden shadow-lg p-6">
  <h2 class="text-3xl font-semibold text-gray-800 mb-4">Vos Points</h2>
  <p class="text-gray-600 mb-6">Vous avez actuellement <span class="font-bold">{{ points }}</span> points.</p>

  <div class="text-2xl font-bold text-gray-800 mb-4">Convertir vos points</div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Carte Bon d'achat 50 Dh -->
    <div class="bg-gray-100 rounded-lg shadow-md p-4 text-center">
      <h3 class="text-xl font-semibold text-gray-800 mb-2">Bon d'achat</h3>
      <p class="text-gray-600">100 points = 50 Dh</p>
      <button (click)="convertPointsToVoucher(100)" class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition transform hover:scale-105">
        Obtenir
      </button>
    </div>

    <!-- Carte Bon d'achat 120 Dh -->
    <div class="bg-gray-100 rounded-lg shadow-md p-4 text-center">
      <h3 class="text-xl font-semibold text-gray-800 mb-2">Bon d'achat</h3>
      <p class="text-gray-600">200 points = 120 Dh</p>
      <button (click)="convertPointsToVoucher(200)" class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition transform hover:scale-105">
        Obtenir
      </button>
    </div>

    <!-- Carte Bon d'achat 350 Dh -->
    <div class="bg-gray-100 rounded-lg shadow-md p-4 text-center">
      <h3 class="text-xl font-semibold text-gray-800 mb-2">Bon d'achat</h3>
      <p class="text-gray-600">500 points = 350 Dh</p>
      <button (click)="convertPointsToVoucher(500)" class="mt-4 bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition transform hover:scale-105">
        Obtenir
      </button>
    </div>
  </div>
</div>
